modules = ["nodejs-20", "bash", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["glib", "glibcLocales", "libxcrypt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Fantasy EPL"

[[workflows.workflow]]
name = "Fantasy EPL"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 35129
externalPort = 8080

[[ports]]
localPort = 36843
externalPort = 3002

[[ports]]
localPort = 37171
externalPort = 8081

[[ports]]
localPort = 37565
externalPort = 5173

[[ports]]
localPort = 38943
externalPort = 3000

[[ports]]
localPort = 40349
externalPort = 4200

[[ports]]
localPort = 40531
externalPort = 8000

[[ports]]
localPort = 41159
externalPort = 9000

[[ports]]
localPort = 42085
externalPort = 3003

[[ports]]
localPort = 42277
externalPort = 3001

[[ports]]
localPort = 42797
externalPort = 6000

[[ports]]
localPort = 44465
externalPort = 8008

[[ports]]
localPort = 44927
externalPort = 5000

[[ports]]
localPort = 45849
externalPort = 8099

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "start"]
build = ["npm", "run", "build"]
